html
	head
		title checki
		<meta name="description" content="A Checklist">
		<meta charset="utf-8">
		<link async rel="stylesheet" href="/static/normalize.css">
		<meta content='width=device-width, initial-scale=1.0' name='viewport' />
		<script async src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/easing/EasePack.min.js"></script>
		<script async src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenLite.min.js"></script>
		<link async rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link href="https://fonts.googleapis.com/css?family=Merienda|Roboto+Slab" rel="stylesheet">
		//- <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?l708wn">
	body
	div(id="checki")
	script window.server_state = !{JSON.stringify(state)}
	script(async type="text/javascript" src="/static/zepto.min.js")
	script(async type="text/javascript" src="/static/main.bundle.js")